@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@theme {
  --color-dark-50: #f8fafc;
  --color-dark-100: #f1f5f9;
  --color-dark-200: #e2e8f0;
  --color-dark-300: #cbd5e1;
  --color-dark-400: #94a3b8;
  --color-dark-500: #64748b;
  --color-dark-600: #475569;
  --color-dark-700: #334155;
  --color-dark-800: #1e293b;
  --color-dark-900: #0f172a;
  --color-dark-950: #020617;
  
  --color-steel-gray-50: #f4f6fa;
  --color-steel-gray-100: #e5e8f4;
  --color-steel-gray-200: #d1d8ec;
  --color-steel-gray-300: #b1bfdf;
  --color-steel-gray-400: #8c9ece;
  --color-steel-gray-500: #7080c1;
  --color-steel-gray-600: #5d68b3;
  --color-steel-gray-700: #5258a3;
  --color-steel-gray-800: #474b86;
  --color-steel-gray-900: #3d416b;
  --color-steel-gray-950: #202135;

  --color-persian-blue-50: #ecf2ff;
  --color-persian-blue-100: #dde6ff;
  --color-persian-blue-200: #c2d1ff;
  --color-persian-blue-300: #9db2ff;
  --color-persian-blue-400: #7687ff;
  --color-persian-blue-500: #565ffe;
  --color-persian-blue-600: #3e38f3;
  --color-persian-blue-700: #2f27ce;
  --color-persian-blue-800: #2a26ad;
  --color-persian-blue-900: #272788;
  --color-persian-blue-950: #18174f;
};

@plugin "tailwind-scrollbar";

:root {
  --background: #202135;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202135;
    /* --background: #212121; */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Kanit", "Outfit", "Roboto", Arial, Helvetica, sans-serif;
}

